.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colors-background);
  color: var(--colors-primary);
  border-bottom: 1px solid var(--colors-border);
  margin-bottom: var(--spacing-4);
}

.navList {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-3);
}
